<html>
    <head>
        <style>
            *{
                font-size: 50px;
                background-color:rgb(121, 196, 171);
            }
            .container{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:20px;
                margin:200px;
            }
            #query{
                padding:10px;
                border-radius: 5px;
            }
            #submit{
                border-radius:50%;
                background-color: rgb(12, 43, 32);
                color:rgb(147, 233, 204);
                border:2px solid rgb(147, 233, 204);
                text-align: center;
                padding:10px;
            }
        </style>
    </head>
    <body>
        <div class="container">
           <h1 style=" color: rgb(12, 43, 32);">Kajal Soni</h1>
            <div class="form" id="myform">
                <h2>Insert SQL select query</h2>
                <form method="post" action="/">
                  <input type="text" name="query" id="query" placeholder="SQL query"/>
                  <input type="submit" id="submit"  value="Go"/>
                </form>
            </div>
          
        </div>
    </body>
    <script>
   
    </script>
</html>