<div class="pagination">
    <button><a id="first">
            <<< /a></button>
    <button><a id="decrement">
            << /a></button>
    <a id="pageNo"></a>
    <button><a id="increment">></a></button>
    <button><a id="last">>></a></button>
</div>