<table>
    <tr>
        <% let keys=Object.keys(result[0]); keys.forEach((item)=>{%>
            <th onclick="orderData(this)" id="<%=item%>">
                <div>
                    <%=item%>
                </div>
                <div id="arrows">
                    <h1 id="up">+</h1>
                    <h1 id="down">-</h1>
                </div>
            </th>
            <%});%>
    </tr>
    <% result.forEach(element=>{%>
        <tr>
            <% let values=Object.values(element); 
            values.forEach((item)=>{%>
                <td>
                    <%=item%>
                </td>
                <%});%>
        </tr>
        <%});%>
</table>