<html>
<head></head>
<body>
    <div class="container">
        <form method="post" action="/simple_crud_index">
            <table>
<tr>
    <td>
    <label for="email">Email_id:</label>
    </td>
    <td>
    <input type="text" name="email" id="email"/>
</td>
</tr>
<tr>
    <td><label for="pass">Password:</label></td>
        <td><input type="text" name="pass" id="pass"/></td>
</tr>
<tr><td colspan="2"><input type="submit" value="submit"/></td></tr>
            </table>
        </form>
    </div>
   
</body>
</html>