<form id="exp">
    <input type="hidden" id="userId" name="userId"/>
    <div>
    <h1>Experiences</h1>
    <div>

        <div class="col"><label>Company Name</label><input type="text" name="cname[]"/><span class="err"></span></div>
        <div class="col"><label>Designation</label><input type="text" name="design[]"/><span class="err"></span></div>
        <div class="col"><label>From</label><input type="text" name="from[]"/><span class="err"></span></div>
        <div class="col"><label>To</label><input type="text" name="to[]"/><span class="err"></span></div>
    </div>
    <div class="row1">
        <button type="button" class="prev" onclick="func_tech_prev()">Previous</button>
        <button type="button" class="next"  onclick="return func_exp()">Next</button>
    </div>
    </div>
</form>